{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto pt-4">
            <form action="/social/login" method="POST">
                <h3 class="alert alert-light border rounded" style="text-align: center;">Login</h3>                
                {% csrf_token %}

                {% if error %}
                
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

                <!-- Phone-->
                <div class="form-group">
                  <label for="">Phone</label>
                  <input type="integer" name="phone"
                   id="" value="{{values.phone}}"class="form-control " 
                   placeholder="Enter your Phone Number">
                </div>

                <!-- password -->
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password"
                     id="" class="form-control " 
                     placeholder="********">
                  </div>

                <div class="form-group mx-auto mt-2">
                    <input class="btn btn-lg btn-info" type="submit" value="Login">
                    <div class="pt-2">
                        <a class="btn btn-outline-info" href="/social/signup">New user? Register here!</a>
                        </div>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}